footer{
  box-shadow: -5 -4 9px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.4rem ;
  font-size: 14px;
  font-weight: bold;
  border-top:1px solid grey ;
  color: hsl(236, 9%, 61%);
}
@media only screen and (max-width: 550px){
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px
  }
 }
footer span{
  margin-left: 9px;
  cursor: pointer;
  transition: 0.50s ease;
}
footer span:hover{
  color: hsl(233, 11%, 84%);
}
.left_side{
  color: hsl(236, 33%, 92%);
  cursor: default;
}
.right_side{
  cursor: pointer;
  transition: 0.50s ease;
}
.right_side:hover{
    color: hsl(233, 11%, 84%);
}
